@tailwind base;
@tailwind components;
@tailwind utilities;

$text-gray-400: rgb(55 65 81);

@mixin text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

span {
    @include text();
}

@mixin transition {
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

@mixin opacityOnHover {
    &:hover {
        opacity: 0.7;
    }
}

button {
    @include text();
    @include opacityOnHover();
    @include transition();
    transition-property: opacity;
    cursor: pointer;
}

#root > div:first-child {
    row-gap: 2px;
    background-color: black;
    * {
        background-color: white;
    }
}

#toggle-button {
    transition-property: transform, opacity;
    img {
        height: 3.125vh;
    }
    &.toggled {
        transform: rotate(180deg);    
    }
}

#root > ul {
    @include transition();
    transition-property: top;
}